@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

.menu {
  background-color: #f1f1f1;
  padding: 2em .5em;
  margin-bottom: 2em;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  a {
    background-color: #d3d3d3;
    padding: .5em 1em;
  }

}

.sidebar {
  margin-bottom: 2em;

  > a {
    background-color: #f1f1f1;
    display: block;
    padding: 1em .5em;
    margin-bottom: 1em;
  }
}

.card {
  border: 0;
  background-color: #f1f1f1;

  &.card-sm-big {
    @include media-breakpoint-down(lg) {
      p {
        font-size: 3em;
      }
    }
  }
}



.footer {
  .card-body {
    padding: .25em;
  }
}


